<Navbar class="navbar navbar-dark bg-primary">
    <div class="container">
        <a class="navbar-brand" href="#">
            <i class="fas fa-users"></i> &nbsp;
            Connecti - Social
        </a>

        <span class="d-flex">
            <!-- <button type="button" class="btn btn-outline-light my-2 my-sm-0">Sign Out</button> -->
        </span>
    </div>
</Navbar>