<div class="row">
    <div class="col-md-6">
        <img src="/images/users.jpg" alt="Welcome to Connecti">
    </div>
    <div class="col-md-3 mt-5 offset-sm-2">
        <%- include('signIn') -%>
    </div>
</div>
