<div class="row">
    <div class="col-sm-6 .d-sm-none .d-md-block">
        <img src="/images/users.jpg" alt="Welcome to Connecti">
    </div>
    <div class="col-sm-3 mt-5 offset-sm-2">
        <%- include('signIn') -%>
    </div>
</div>
