body {
    background-color: #f0f2f5 !important;
}

.main {
    height: 100vh;
    padding: 50px;
    overflow: scroll;
}

.like {
    color: #3498db;
}

.like:hover{
    color: #3498db;
}

a {
    text-decoration: none;
}

i {
    cursor: pointer;
}

.users {
    height: 100vh;
    overflow: scroll;
}
